{% extends 'base.html' %}
{% block head%}
{{super()}}
<style>
  .grid-container {
  display: grid;
  grid-row-gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: white;

}

.grid-item {
  background-color: white;

  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}
.grid-item img
{
height:155px !important;
}
p.category-section {
    background: #d4edda;
    margin-top: 5px;
    font-variant-caps: small-caps;
}
p.category-section:hover {
    background: #b7d331;
    margin-top: 5px;
    font-variant-caps: small-caps;

}
p.category-section a
{
    text-decoration: none;

}
p.category-section:hover a
{
 text-decoration: none;
 color: white;
}
p.category-section a:hover{
    text-decoration: none;
 color: white;

}
</style>

{% endblock head %}

{%block navlinks%}
    <a class="btn btn-outline-success my-2 my-sm-0" href="/logout" style="margin-right:5px">Sign Out</a>

     {% endblock%}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-10 offset-md-1">
     <div class="grid-container">
              <div class="grid-item">
                <img src="static/images/python.JPG" alt="Related Book 1" width="150px" height="auto">
                <p class="category-section"><a href="/quiz/Python">Python</a></p>
              </div>


       <div class="grid-item">
                <img src="static/images/java1.png" alt="Related Book 1" width="150px" height="auto">
                <p class="category-section"><a href="/quiz/Java">Java</a></p>
              </div>


       <div class="grid-item">
                <img src="static/images/html.JPG" alt="Related Book 1" width="150px" height="auto">
                <p class="category-section"><a href="/quiz/HTML">HTML</a></p>
              </div>


       <div class="grid-item">
                <img src="static/images/css.JPG" alt="Related Book 1" width="150px" height="auto">
                <p class="category-section"><a href="/quiz/css">css</a></p>
              </div>



       <div class="grid-item">
                <img src="static/images/sql.png" alt="Related Book 1" width="150px" height="150px">
                <p class="category-section"><a href="/quiz/SQL">SQL</a></p>
              </div>


       <div class="grid-item">
                <img src="static/images/js.png" alt="Related Book 1" width="150px" height="auto">
                <p class="category-section"><a href="/quiz/javascript">JavaScript</a></p>
              </div>


     </div>
    </div>
  </div>
</div>
{% endblock content %}